<!DOCTYPE html>
<html lang="en">

<head>
	{% block pageTitle %}
	<title>Plannerly - Home</title>
	{% endblock %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/mycss.css' %}" type="text/css" />
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">

		<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
			<div class="container">
				<a class="navbar-brand" href="#">
					<img height="80" width="130" src="{% static "images/logo.png" %}" alt="Logo" />
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						{% block tabs %}
						{% endblock %}
					</ul>
				</div>
			</div>
		</nav>


		<br>
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}


		{% block content %}
		{% endblock %}
	</div>

</body>
{% block scripts %}
{% endblock %}

</html>